<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel test suite" parallel="tests" thread-count="2">
    <test name="Regression 1">
        
        <classes>
            <class name="com.test.GridExampleTest" />
                                                    
        </classes>
        
    </test>
    
      <test name="Regression 2">
        
        <classes>
                   
            <class name="com.test.GridExampleTest2" />
                                   
        </classes>
        
    </test>
 
</suite>


